node_modules
dist
*.tsbuildinfo

# playwright 산출물
test-results/

# dotenv 환경 변수 파일
.env
.env.development.local
.env.test.local
.env.production
.env.production.local
.env.local

# Playwright
/test-results/
/playwright-report/
/blob-report/
